:root {
	--box_size: 0px;
	--box_size_L: 200px;
	--small_scale: 1;
	--tltle_trans_y: -44%;
	--header_height:60px;
}

.notDisplay{
	display: none!important;
}

.hidden{
	visibility: hidden;
}

.visible{
	visibility: visible;
}

.sign {
	padding: 24px;
	position: relative;
}
.userName {
	display: inline-block;
	font-size: 34px;
	color: #222;
	height: 50px;
	cursor: pointer;
}
.portfolio_title {
	font-size: 24px;
	font-weight: bold;
	opacity: 0;
	color: #999;
}

.controller_container{
	position: absolute;
	right: 84px;
	top: 50%;
	transform: translateY(-50%);
	width: 56px;
	height: 40px;
	background: rgba(255,255,255,0.4);
}

.controller_container.hide{
	opacity: 0;
	pointer-events: none;
}

.controller_container.playing{
	width:100px;
	right: 40px;
}

.play_button,
.pause_button{
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border-color: transparent transparent transparent #000;
	border-style: solid;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s;
	opacity: 1;
}

.play_button{
	border-width: 10px 0 10px 20px;
	left:20px;
}

.pause_button{
	border-width: 10px 10px 10px 10px;
	border-color: #c55500;
	right: 16px;
	opacity: 0;
	pointer-events: none;
}

.pause_button.stop{
	opacity: 1;
	pointer-events: inherit;

}

.play_button.stop{
	/* border-width: 10px 10px 10px 10px;
	border-color: #c55500; */
	border-width: 0px 0 0px 16px;
	border-style: double;
}

.expand_button {
	width: 30px;
	height: 30px;
	border: 4px solid #000;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.2s;
	opacity: 0;
	animation-name: show;
	-webkit-animation-name: show;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	display: none;
}
.expand_button.selected {
	width: var(--box_size);
	height: var(--box_size);
	position: absolute;
	right: 47px;
	border: 0px solid #000;
	background-color: #000;
	border-radius: 0;
}
.wrapper {
	height: 100%;
	display: grid;
	grid-gap: 0;
	grid-template-rows: auto 3fr;
	/* overflow-y: auto; */
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	pointer-events: none;
}
.wrapper.initialized{
	pointer-events: inherit;
}
.background_frame {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-position: center center;
}
.performance_container {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	list-style: none;
	vertical-align: center;
	box-sizing: border-box;
	opacity: 0;
	margin: 20px 80px;
}

.performance_container li {
	text-align: center;
	vertical-align: middle;
	position: relative;
	min-height: 154px;
	transition: all 0.2s;
}
.performance_container li figure {
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	width: var(--box_size);
	height: var(--box_size);
	background: white;
	border: 6px solid black;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: all 0.2s;
	transform: translateX(-50%) translateY(-50%);
}

.moveBox{
	width: var(--box_size_L);
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(0px);
	transition: all 0.2s;
}

.case{
	width: var(--box_size_L);
	height: 50%;
	position: absolute;
	transition: all 0.2s;
}

.link_disabled_layer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(0,0,0,0);
	width: 60px;
	height: 60px;
	display: none;
}

.displayBlock{
	display: block;
}

.performance_container li:nth-child(2n) .case{
	bottom:0;
}

.performance_container.even li:nth-child(2n) .case{
	bottom:auto;
}

.performance_container.even li .case{
	top:40%;
	transform:translateY(-50%);
}

.performance_container li figure p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(var(--tltle_trans_y));
	opacity: 0;
	color: #222;
	font-weight: bold;
	width: 100%;
	perspective: 300;
}
.performance_container li figure p span {
	color: #666;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	margin-top: 6px
}

.performance_container li figure.hover,
.performance_container li.expand figure {
	width: var(--box_size_L);
	height: var(--box_size_L);
	border-radius: 50%;
	background-color: white;
	border: 6px solid;
}

.performance_container li.expand figure p,
.performance_container li figure.hover p {
	-webkit-animation-name: from_small2;
	animation-name: from_small2;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.performance_container li:nth-child(1) {
	grid-column: 1/2;
}
.performance_container li:nth-child(2) {
	grid-column: 2/3;
}
.performance_container li:nth-child(3) {
	grid-column: 3/4;
}
.performance_container li:nth-child(4) {
	grid-column: 4/5;
}
.performance_container li:nth-child(5) {
	grid-column: 5/6;
}

/* スライドショー用 */
.performance_container.horizontal li:nth-child(2n+1) .moveBox,
.performance_container.horizontal.even li .moveBox{
	transform: translateX(-50%) translateY(100%);
}

.performance_container.horizontal li:nth-child(2n+1) .case
.performance_container.horizontal.even li:nth-child(2n+1) .case{
	transform:translateY(-100%);
}

.performance_container li:nth-child(2n+1):not(.expand) .moveBox:not(.hover),
.performance_container.even li:not(.expand) .moveBox:not(.hover){
	transform: translateX(-50%) translateY(100%);
}

.performance_container li:nth-child(2n+1):not(.expand) .moveBox:not(.hover) .case,
.performance_container.even li:not(.expand) .moveBox:not(.hover) .case{
	transform:translateY(-100%);
}

.performance_container.even li:not(.expand) .moveBox:not(.hover) .case{
	top:0;
}

/* スライドショー用 ここまで*/
@media (max-width: 767px) {
	.wrapper {
		display: block;
		overflow: auto;
	}
	.performance_container {
		grid-template-columns: 1fr!important;
		height: 100%;
	}
	.performance_container li:nth-child(1),
	.performance_container li:nth-child(2),
	.performance_container li:nth-child(3),
	.performance_container li:nth-child(4),
	.performance_container li:nth-child(5) {
		grid-column: 1/1;
	}
	/* .performance_container li figure {
		width: var(--box_size_L);
		height: var(--box_size_L);
		border-radius: 50%;
		background-color: white;
		border: 6px solid;
		box-sizing: border-box;
	} */
	.performance_container li {
		min-height: 280px;
	}
	/* .performance_container.horizontal li.expand figure:not(.hover) p {
		opacity: 1;
		-webkit-animation-name: none;
		animation-name: none;
	} */
	.expand_button,
	.play_button,
	.pause_button {
		display: none;
	}
	.sign {
		width: 100%;
	}

	.performance_container.horizontal li:nth-child(2n+1) .moveBox,
	.performance_container.horizontal.even li .moveBox{
		transform: translateX(-50%) translateY(0px);
	}
	
	.performance_container.horizontal li:nth-child(2n+1) .case,
	.performance_container.horizontal.even li .case{
		transform:translateY(-50%);
	}

	.case{
		top: 50%;
		transform: translateY(-50%);
	}
	
	.performance_container li:nth-child(2n) .case{
		bottom:auto;
	}

	/* スライド用 */
	.performance_container.horizontal li:nth-child(2n+1) .moveBox,
	.performance_container.horizontal.even li .moveBox{
		transform: translateX(-50%) translateY(0%);
	}
	
	.performance_container.horizontal li:nth-child(2n+1) .case,
	.performance_container.horizontal.even li .case{
		transform:translateY(0);
	}

	.performance_container li:nth-child(2n+1):not(.expand) .moveBox:not(.hover),
	.performance_container.even li:not(.expand) .moveBox:not(.hover){
		transform: translateX(-50%) translateY(0);
	}
	
	.performance_container li:nth-child(2n+1):not(.expand) .moveBox:not(.hover) .case,
	.performance_container.even li:not(.expand) .moveBox:not(.hover) .case{
		transform:translateY(-50%);
	}

	.performance_container.even li:not(.expand) .moveBox:not(.hover) .case{
		top:40%;
	}
	/* スライド用ここまで */
}
@media (max-width: 467px) {}